body{
    overflow: hidden;
    background: #009579;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}
.form-div{
    padding: 10px;
    text-align: center;
    max-width: 430px;
    width: 100%;
    min-height: 500px;
    height: auto;
    background: #fff;
}